*{
    padding: opx;
    margin: 0px;
    box-sizing: border-box;
}
.sec1{
    scroll-behavior: smooth;
    background-image: url(./d2bee09011d0ef5c5aab59b69714774a45812d7d.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
    
}
.header{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.header ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: aliceblue;
   padding: 5px;
  
}
.main{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   color: aliceblue;
   margin: 20px auto;
   padding: 5px;
   text-align: center;
}
.par{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 1px auto;

}

.div1{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1px auto;
}

.con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    gap: 50px;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.cont{
    padding: 20px;
    margin: 50px auto;
    background-color: rgb(242, 242, 242);
    height: 800px;
}
.div6{
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:10px auto ;
    padding: 5px;
    background-color: rgb(220, 218, 218);
    

    

}
.div6 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: auto;

}
.li{
    background-color: aliceblue;
    border-radius: 50px;
   
}
.product{
    width: 1200px ;
    background-color: rgb(255, 255, 255); 
    margin: 30px auto;
    height: 400px;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}
.chair img{
    background-color: rgb(242, 242, 242);
    margin: 20px auto;
}
.p2{
    color: rgb(201, 198, 198);
    /* margin: 5px auto; */
   /* padding: 5px; */
   margin-left: 5px;
}
.h4{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
     /* margin: 5px auto; */
     margin-left: 5px;
     /* padding: 5px;/ */
     color: rgb(11, 11, 75);
  
}
.p3{
     margin-left: 5px;
     /* padding: 5px; */
}
.p4{
    margin: 20px auto;
    padding: 5px;
}
.div7{
     width: 1000px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px auto;
    padding: 10px;

   
}
.exp{
    border-radius: 15px;
    box-shadow: 5px;
    margin-left: 0px;
}
.p1{
    color: rgb(234, 119, 32);
     margin: 15px auto;
}
.h3{
    width: 180px;
    font-size:x-large;
   
}
.p{
    width: 400px;
    margin: 15px auto;
}
.div8{
    margin: 20px auto;
    padding: 10px;

}
.container{
      width: 1000px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px auto;
    padding: 10px;

}
.div9{
     margin: 50px auto;
    padding: 10px;

}
.div10{
   
    display: grid;
   grid-column: auto;
}
.img1{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.img2{
   margin: 50px auto;
   margin-bottom: 25px;
}
.div11{
    
  margin: 20px auto;
  padding: 100px;
  margin-left: 650px;
  
  

}
.Reviews{
    width: 250px;
    font-size:x-large;
}

 
 
 .sec{
    padding: 70px;}
 
 .client{
     display: flex; 
     gap: 35px;
     display: flex;
   
     align-items: center;
 }
 .review{
    position: relative;
    /* margin: 20px ;
    padding: 20px; */
   
  
   
 }
.perimg{
    position: absolute;
   background-color: rgb(251, 249, 249); 
    /* top: 3780px;
    left: 180px; */
    padding: 15px;
    left: 125px;
    top: 3400px;
    width: 50px;
    height: 55px;
    border-radius: 50%;

  

  
}
.per1{
    /* position: absolute; */
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
   text-align: center;
   background-color: rgb(251, 247, 247);
   top: 3300px;
   left: 40px;
  
}
.review1{
    position: relative;
}
.perimg1{
   
    position: absolute;
   background-color: rgb(242, 241, 241); 
    /* top: 3780px;
    left: 180px; */
    padding: 15px;
    left: 530px;
    top: 3400px;
    width: 50px;
    height: 55px;
    border-radius: 50%;


}
.per2{ 
    /* position: absolute; */
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
   text-align: center;
   background-color: rgb(243, 238, 238);
   top: 3300px;
   left: 500px;
    
}
.review2{
      position: relative;
      border-radius: 15px;
}
.perimg2{
      position: absolute;
   background-color: rgb(242, 241, 241); 
    /* top: 3780px;
    left: 180px; */
    padding: 15px;
    left: 940px;
    top: 3400px;
    width: 50px;
    height: 55px;
    border-radius: 50%;

}
.per3{
     width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
   text-align: center;
   background-color: rgb(243, 238, 238);
   top: 3300px;
   left: 500px;
}